@import url("https://fonts.googleapis.com/css2?family=Lexend&display=swap");
* {
  color: rgb(226, 226, 226);
  font-family: 'Lexend', sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #111111;
  overflow-x: hidden;
}

.logo {
  width: 5rem;
  height: 5rem;
  margin: .5rem

}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 12vh;
  background-color: #111111;
  font-family: 'Lexend', sans-serif;
  box-shadow: 0 0 15px goldenrod;
  position: fixed;
  width: 100%;
  z-index: 10000;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.nav-links li {
  list-style: none;
  transition: all 0.3s ease 0s;
}
.nav-links a {
  color: rgb(226, 226, 226);
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 1rem;
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover{
  color: goldenrod;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(226, 226, 226);
  margin: 5px;
  transition: all 0.3s ease;
}

h2 {
  font-size: 5rem;
  font-weight: bold;
  padding: 2rem;
}
.topic {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
  position: relative;
  top: 20vh;
  width: 100%;

}

.read {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.read2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.firstline {
  position: relative;
  bottom: 2vh;
  width: 30vw;
  box-shadow: 0 0 15px goldenrod;
  background-color: goldenrod;
}
.firstlinee {
  position: relative;
  bottom: 2vh;
  width: 20vw;
  box-shadow: 0 0 15px goldenrod;
  background-color: goldenrod;
}
.firstline2 {
  position: relative;
  bottom: 2vh;
  left: .6vw;
  width: 56vw;
  box-shadow: 0 0 15px goldenrod;
  background-color: goldenrod;

}
.secondline {
  width: 90vw;
  box-shadow: 0 0 15px goldenrod;
  background-color: goldenrod;
  margin-bottom: 3rem;
  position: relative;
  bottom: 2rem;
}
.comingh2 h2 {
  font-size: 3.2rem;
}
.title1 {
  font-size: 2rem;
  display: flex;
  text-align: center;
  justify-content: center;

}
.title2 {
  font-size: 2rem;
  display: flex;
  position: relative;
  left: 2%;
}
.title3 {
  font-size: 2rem;
  display: flex;
  position: relative;
  left: 2%;
}
.coming-soon {
  position: relative;
  top: 12rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.date {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 2px;
  position: relative;
  top: 2vh;
  left: 6rem;
}
.date2 {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 2px;
  display: flex;
  position: relative;
  top: 2vh;
  left:  6.5rem;
}
.date3 {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 2px;
  display: flex;
  position: relative;
  top: 2vh;
  left:  6.5rem;
}
.might {
  display: flex;
  text-align: center;
  justify-content: center;
  position: relative;
  right: 2vw;
}
.might2 {
  display: flex;
  text-align: center;
  justify-content: center;
  position: relative;
  right: 2vw;
  
}

.para {
  background-color: #1a1a1a;
  color: rgb(226, 226, 226);
  margin: 1vw;
  width: 50%;
  box-shadow: 0 0 5px goldenrod;
  padding: 1.5vw;
  display: flex;
  border-radius: 20px;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  position: relative;
  width: 50%;
}
.pdflogo{
  background-color: #1a1a1a;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0;
  position: absolute;
  left: 12%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  box-shadow: 0 0 20px #daa520;
  text-decoration: none;
  font-size: 1.6rem;
  color: whitesmoke;
  display: flex;
  flex-direction: row;
}
.sanad {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0;
  position: absolute;
  left: 12%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  text-decoration: none;
  font-size: 1.6rem;
  color: whitesmoke;
  display: flex;
  flex-direction: row;
}
.sanad1 {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0;
  position: absolute;
  left: 31%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  text-decoration: none;
  font-size: 1.6rem;
  color: whitesmoke;
  display: flex;
  flex-direction: row;
}
.pdflogo1 {
  background-color: #1a1a1a;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0;
  position: absolute;
  left: 31%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  box-shadow: 0 0 20px #daa520;
  text-decoration: none;
  font-size: 1.6rem;
  color: whitesmoke;
  display: flex;
  flex-direction: row;
}
.sanad2 {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  text-decoration: none;
  font-size: 1.6rem;
  color: whitesmoke;
  display: flex;
  flex-direction: row;
}
.pdflogo2 {
  background-color: #1a1a1a;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  box-shadow: 0 0 20px #daa520;
  text-decoration: none;
  font-size: 1.6rem;
  color: whitesmoke;
  display: flex;
  flex-direction: row;
}
.sanad3 {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0;
  position: absolute;
  left: 69%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  text-decoration: none;
  font-size: 1.6rem;
  color: whitesmoke;
  display: flex;
  flex-direction: row;
}
.pdflogo3 {
  background-color: #1a1a1a;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0;
  position: absolute;
  left: 69%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  box-shadow: 0 0 20px #daa520;
  text-decoration: none;
  font-size: 1.6rem;
  color: whitesmoke;
  display: flex;
  flex-direction: row;
}
.sanad4 {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0;
  position: absolute;
  left: 88%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  text-decoration: none;
  font-size: 1.6rem;
  color: whitesmoke;
  display: flex;
  flex-direction: row;
}
.pdflogo4 {
  background-color: #1a1a1a;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0;
  position: absolute;
  left: 88%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  box-shadow: 0 0 20px #daa520;
  text-decoration: none;
  font-size: 1.6rem;
  color: whitesmoke;
  display: flex;
  flex-direction: row;
}
.pdflogo:hover{
  background-color: #C7971E;
  transition: linear 0.3s;
}
.pdflogo1:hover{
  background-color: #C7971E;
  transition: linear 0.3s;
}
.pdflogo2:hover{
  background-color: #C7971E;
  transition: linear 0.3s;
}
.pdflogo3:hover{
  background-color: #C7971E;
  transition: linear 0.3s;
}
.pdflogo4:hover{
  background-color: #C7971E;
  transition: linear 0.3s;
}

#s1 {
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  top: 1rem;
}
#s2 {
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  top: 12rem;
}

.head {
  display: flex;
}
.op1 {
  width: 100%;
  text-align: center;
}
.op2 {
  width: 100%;
  text-align: center;
}
.op3 {
  width: 100%;
  text-align: center;
}
.op4 {
  width: 100%;
  text-align: center;
}
.op5 {
  width: 100%;
  text-align: center;
}

@media screen and (max-width:1024px) {
  .nav-links {
    width: 100%;
  }
  h2 {
    font-size:4rem;
  }
  .day,.hour,.minute,.second {
    font-size: 2.1em;
  }
  h3 {
    font-size: 1.5em;
  }

  .topic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  .firstline2 {
    position: relative;
    bottom: 2vh;
    width: 80vw;
    box-shadow: 0 0 15px goldenrod;
    background-color: goldenrod;
  }
  .date {
    left: 8.1rem;
  }
  .might {
    display: flex;
    width: 100vw;
    position: relative;
    right: 5%;
  }
  .might2 {
    display: flex;
    width: 100vw;
    position: relative;
    right: 5%;
  }
  .firstline {
    position: relative;
    bottom: 2vh;
    width: 500px;
    box-shadow: 0 0 15px goldenrod;
    background-color: goldenrod;
  }
  .firstlinee {
    position: relative;
    bottom: 2vh;
    width: 400px;
    box-shadow: 0 0 15px goldenrod;
    background-color: goldenrod;
  }
  .para {
    width: 80%;
    padding: 3vw;

  }
  .pdflogo{
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0;
    position: absolute;
    left: 60%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    box-shadow: 0 0 20px #daa520;
    text-decoration: none;
    font-size: 1.6rem;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
  }
  .sanad {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0;
    position: absolute;
    left: 60%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    text-decoration: none;
    font-size: 1.6rem;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
  }
  .sanad1 {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0;
    position: absolute;
    left: 40%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    text-decoration: none;
    font-size: 1.6rem;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
  }
  .pdflogo1 {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0;
    position: absolute;
    left: 40%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    box-shadow: 0 0 20px #daa520;
    text-decoration: none;
    font-size: 1.6rem;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
  }
  
}

@media screen and (max-width:768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    z-index: 1;
    right: 0px;
    height: 88vh;
    top: 12vh;
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
  h2 {
    font-size: 1.8rem;
  }
  .day,.hour,.minute,.second {
    font-size: 1.5em;
  }
  h3 {
    font-size: 1em;
  }
  .topic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  .title1 {
    font-size: 1.4rem;
  }
  .title2 {
    font-size: 1.4rem;
  }
  .title3 {
    font-size: 1.4rem;
    margin-left: 0.1rem;
    margin-right: 1rem;
  }
  .comingh2 h2{
    font-size: 3rem;
    align-items: center;
    text-align: center;
  }
  .might {
    display: flex;
    width: 100vw;
    position: relative;
    right: 10%;
  }
  .might2 {
    display: flex;
    width: 100%;
    position: relative;
    right: 5%;
  }
  .firstline {
    position: relative;
    bottom: 2vh;
    left: 0.5vw;
    width: 340px;
    box-shadow: 0 0 15px goldenrod;
    background-color: goldenrod;
  }
  .firstlinee {
    position: relative;
    bottom: 2vh;
    left: 0.1rem;
    width: 250px;
    box-shadow: 0 0 15px goldenrod;
    background-color: goldenrod;
  }
  .firstline2 {
    position: relative;
    bottom: 2vh;
    left: 0.5vw;
    width: 360px;
    box-shadow: 0 0 15px goldenrod;
    background-color: goldenrod;
  }
  .date {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 2px;
    position: relative;
    top: 2vh;
    left: 4rem;
  }
  .date2 {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 2px;
    position: relative;
    top: 2vh;
    left: 3rem;
  }
  .date3 {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 2px;
    position: relative;
    top: 2vh;
    left: 5.7rem;
  }
  .pdflogo{
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    box-shadow: 0 0 20px #daa520;
    text-decoration: none;
    font-size: 1.6rem;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
  }
  .sanad {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    text-decoration: none;
    font-size: 1.6rem;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
  }
  .sanad1 {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0;
    position: relative;
    top: 5rem;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    text-decoration: none;
    font-size: 1.6rem;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
  }
  .pdflogo1 {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0;
    position: relative;
    top: 5rem;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    box-shadow: 0 0 20px #daa520;
    text-decoration: none;
    font-size: 1.6rem;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
  }
  .sanad2 {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0;
    position: relative;
    top: 10rem;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    text-decoration: none;
    font-size: 1.6rem;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
  }
  .pdflogo2 {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0;
    position: relative;
    top: 10rem;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    box-shadow: 0 0 20px #daa520;
    text-decoration: none;
    font-size: 1.6rem;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
  }
  .sanad3 {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0;
    position: relative;
    top: 15rem;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    text-decoration: none;
    font-size: 1.6rem;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
  }
  .pdflogo3 {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0;
    position: relative;
    top: 15rem;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    box-shadow: 0 0 20px #daa520;
    text-decoration: none;
    font-size: 1.6rem;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
  }
  .sanad4 {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0;
    position: relative;
    top: 20rem;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    text-decoration: none;
    font-size: 1.6rem;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
  }
  .pdflogo4 {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0;
    position: relative;
    top: 20rem;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    box-shadow: 0 0 20px #daa520;
    text-decoration: none;
    font-size: 1.6rem;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
  }
  .head {
    flex-direction: column;
  }
  .op1 {
    width: 100%;
    text-align: center;
    position: relative;
    top: 4.5em;
  
  }
  .op2 {
    width: 100%;
    position: relative;

    top: 21rem;
    text-align: center;
  }
  .op3 {
    width: 100%;
    position: relative;

    top: 36rem;
    text-align: center;
  }
  .op4 {
    width: 100%;
    top: 50rem;
    position: relative;

    text-align: center;
  }
  .op5 {
    width: 100%;
    position: relative;
    top: 64rem;
    text-align: center;
  }


}

.nav-active{
  transform: translateX(0%);
}

@keyframes navLinkFade{
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}